body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.title{
    color: white;
}

.card {
    background-color: rgba(39, 26, 226, 0.995);
}

@media(max-width:767px) {
    .card {
        height: 10rem;
    }
}

.carousel-indicators li {
    width: 5px;
    height: 6px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000
}

.carousel-indicators {
    margin-bottom: 0
}

.temp {
    font-size: 4rem;
    color: black;
}

.card-1 {
    background-color: rgba(185, 211, 35, 0.995);
}

@media(max-width:767px) {
    .temp {
        font-size: 3rem;
        color: black;
    }
}

.location {
    margin-bottom: 1.5rem;
    color: black;
}

@media(max-width:767px) {
    .location {
        font-size: 0.75rem
    }
}

.img-fluid {
    float: right;
    width: 65%;
    display: flex;
    align-items: center
}

.row2 .img-fluid {
    margin: 10% 0;
    width: 40%
}

.card-2 .row {
    justify-content: center
}

.card-3 .row {
    justify-content: center
}

.row1 {
    font-size: 0.7rem;
    font-weight: bold;
    color: black
}

.row3 {
    font-size: 0.9rem;
    font-weight: bold;
    color: black
}

@media(max-width:400px) {
    .row3 {
        font-size: 0.7rem;
        font-weight: bold;
        color: black
    }
}

@media(max-width:320px) {
    .row3 {
        font-size: 0.6rem;
        font-weight: bold;
        color: black
    }
}

.row4 {
    font-size: 0.6rem;
    color: rgb(196, 196, 196);
    margin: 5% 0 2.5rem
}

.col {
    overflow: visible
}

.row {
    overflow: visible
}

.max{
    color: black;
}
.min{
    color: black;
}