<template>
  <section class="pb-3">
    <div class="row pl-2">
      <div class="col-6">
        <select class="form-control" v-model="selectedCity">
          <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat">
            {{ ciutat }}
          </option>
        </select>
      </div>
    </div>
    <CurrentWeather v-bind:ciudad-selecionada="selectedCity"></CurrentWeather>
    <FutureWeather v-bind:ciudad-selecionada="selectedCity"></FutureWeather>
  </section>
</template>

<script>
import CurrentWeather from "./CurrentWeather";
import FutureWeather from "./FutureWeather";

export default {
  name: "InfoMeteo",
  props: {
    llistaCiutats: Array,
    continentes: Array,
  },
  data() {
    return {
      selectedCity: this.llistaCiutats[0],
    };
  },
  mounted: function () {
    return {
      selectedCity: this.llistaCiutats[0],
    };
  },
  components: {
    CurrentWeather,
    FutureWeather
  }
}
</script>

<style scoped></style>