<template>
  <div id="app">
    <div class="container">
      <h1 class="title container">GeneralWeather</h1>
      <GeneralWeather v-bind:llista-ciutats="Europa"></GeneralWeather>
      <GeneralWeather v-bind:llista-ciutats="Asia"></GeneralWeather>
      <GeneralWeather v-bind:llista-ciutats="Africa"></GeneralWeather>
      <GeneralWeather v-bind:llista-ciutats="America"></GeneralWeather>
      <GeneralWeather v-bind:llista-ciutats="Oceania"></GeneralWeather>
    </div>
  </div>
</template>

<script>
import GeneralWeather from "./components/GeneralWeather";

export default {
  name: "App",
  data: function () {
    return {
      selectedContinente: "Todos",
      toggled: false,
      fechaDia: null,
      fechaMes: null,
      fechaYear: null,
      continentes: ["Todos", "Europa", "Asia", "America", "Africa", "Oceania"],
      Europa: [
        "Barcelona",
        "Zaragoza",
        "Sevilla",
        "Madrid",
        "París",
        "Viborg",
        "Londres",
        "Berlin",
      ],
      Asia: [
        "Lahore",
        "Beijing",
        "Kabul",
        "Tehran",
        "Seoul",
        "Tokyo",
        "Shanghai",
      ],
      America: ["New York", "New Jersey", "Toronto", "Medellin", "Buenos Aires"],
      Africa: ["Nairobi", "Cairo", "Luanda", "Acra", "Dakar"],
      Oceania: ["Sydney", "Brisbane", "Melbourne", "Canberra", "Auckland"],
      monthNames: [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ],
    };
  },
  components: {
    GeneralWeather,
  }
}
</script>

<style></style>